@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
​
​
​
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
Use a more readable tab size (opinionated).
*/
​ :root {
  -moz-tab-size: 4;
  tab-size: 4;
}

​
​
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

​
​
​
body {
  margin: 0;
}

​
​
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

​
​
​
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

​
​
​
abbr[title] {
  text-decoration: underline dotted;
}

​
​
b,
strong {
  font-weight: bolder;
}

​
​
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

​
​
small {
  font-size: 80%;
}

​
​
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

​ sub {
  bottom: -0.25em;
}

​ sup {
  top: -0.5em;
}

​
​
​
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

​
​
​
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

​
​
button,
select {
  /* 1 */
  text-transform: none;
}

​
​
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

​
​
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

​
​
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

​
​
:-moz-ui-invalid {
  box-shadow: none;
}

​
​
legend {
  padding: 0;
}

​
​
progress {
  vertical-align: baseline;
}

​
​
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

​
​
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

​
​
::-webkit-search-decoration {
  -webkit-appearance: none;
}

​
​
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

​
​
​
summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #757575;
}

body.modal-open {
  overflow: hidden;
}

h2,
h3 {
  color: #212121;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: transparent;
}

:hover,
:focus,
:focus-within {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header-section {
  position: relative;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-section .container {
    width: 100%;
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: inline-flex;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-logo {
    margin-right: 93px;
  }
}

.logo {
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

nav .logo span {
  color: #000000;
  font-weight: 400;
}

@media screen and (max-width: 767px) {
  .adress {
    margin-bottom: 64px;
  }
}

.menu-button {
  position: fixed;
  right: 0;
  top: 0;
  display: inline-flex;
  border: none;
  background-color: transparent;
  z-index: 99;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .nav-logo {
  text-decoration: underline;
}

.menu-button:hover, .menu-button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 50;
    transform: translateX(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
  }
  .menu-container.is-open {
    transform: translateY(0);
    opacity: 1;
    pointer-events: initial;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav-list > .item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav-list > .item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link {
  display: inline-block;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  line-height: 1.167;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .nav-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.143;
  }
}

.nav-link:hover, .nav-link:focus,
.nav-contact:hover,
.nav-contact:focus {
  color: #2196f3;
}

.nav-link {
  position: relative;
}

.nav-link.current {
  pointer-events: none;
  color: #2196f3;
}

.current {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0px;
    display: block;
    border-radius: 2px;
    background-color: currentColor;
  }
}

@media screen and (max-width: 767px) {
  .nav-contacts {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) {
  .nav-contacts {
    margin-left: 84px;
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contacts {
    display: flex;
    flex-direction: row;
    margin-left: 305px;
  }
}

@media screen and (min-width: 768px) {
  .tell-modal {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts > .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contacts > .item:not(:last-child) {
    margin-right: 30px;
  }
}

.nav-contact {
  display: flex;
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .nav-contact {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .tell-modal {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .tell-modal .mail-modal {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .tell-modal {
    font-size: 14px;
    line-height: 1.143;
  }
}

@media screen and (min-width: 1200px) {
  .mail-modal {
    font-size: 14px;
    line-height: 1.143;
  }
}

.nav-svg {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-svg {
    margin-right: 8px;
  }
}

.modal-item {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 767px) {
  .modal-item li:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (max-width: 767px) {
  .modal-item li:not(:first-child) {
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .modal-item {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav-svg {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .modal-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}

.modal-link {
  cursor: pointer;
  color: #2196F3;
}

.hero-section {
  max-width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.06em;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Mobile/jpg/herobg-480.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Mobile/jpg/herobg-480@2x.jpg);
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Tablet/jpg/herobg-768.jpg);
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 576px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 576px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Tablet/jpg/herobg-768@2x.jpg);
  }
}

@media screen and (min-width: 769px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Desktop/jpg/herobg-1600.jpg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Desktop/jpg/herobg-1600@2x.jpg);
  }
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6154;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.364;
  }
}

.hero-button {
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: #2196f3;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover, .hero-button:focus {
  color: #FFFFFF;
  background-color: #188CE8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 400ms ease;
}

@media screen and (max-width: 480px) {
  .backdrop {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 500ms ease-in;
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

@media screen and (min-height: 320px) and (max-height: 650px) {
  .modal {
    margin-top: 164px;
  }
}

@media screen and (min-height: 320px) and (max-height: 650px) and (min-height: 420px) {
  .modal {
    margin-top: 114px;
  }
}

@media screen and (min-height: 320px) and (max-height: 650px) and (min-height: 520px) {
  .modal {
    margin-top: 64px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(0.7) translate(-70%, -70%);
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button:hover, .modal-close-button:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.service-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-сaption {
  margin-bottom: 12px;
  color: #212121;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form-сaption {
    line-height: 1.15;
  }
}

.service-label:not(:last-child) {
  margin-bottom: 10px;
}

.service-label {
  display: flex;
  flex-direction: column;
}

.label-text {
  margin-bottom: 4px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.service-input:hover, .service-input:focus-within,
.service-textarea:hover,
.service-textarea:focus-within {
  border-color: #2196f3;
}

.service-input:focus-within + .service-icons {
  fill: #2196f3;
}

.service-input:not(:placeholder-shown):valid {
  border-color: green;
}

.service-input:not(:placeholder-shown):invalid {
  border-color: red;
}

.service-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  font-size: 16px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.input-div {
  position: relative;
}

.service-icons {
  position: absolute;
  left: 14px;
  bottom: 50%;
  transform: translateY(50%);
  color: #212121;
}

.service-textarea {
  padding: 12px 16px;
  margin-bottom: 10px;
  max-height: 120px;
  color: #757575;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.service-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.service-textarea:hover::placeholder, .service-textarea:focus-within::placeholder {
  font-size: 14px;
  line-height: 1.143;
}

.agree-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-input:checked + .checkbox-span {
  background-image: url(../images/check.svg);
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.3);
}

.checkbox-span {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid #212121;
  cursor: pointer;
}

.agree-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .agree-text {
    font-size: 14px;
    line-height: 1.715;
  }
}

.agreement-link {
  position: relative;
}

.agreement-text::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-bottom: 0.01px solid;
}

.hero-button.service-button {
  width: 200px;
  align-self: center;
}

.hero-button.service-button:hover, .hero-button.service-button:focus {
  color: #ffffff;
  background-color: #188ce8;
}

.advantages-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantages-list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages-item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .advantages-item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages-item {
    width: calc((100% - 120px) / 4);
  }
}

.advantages-div {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages-icons {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advantages-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages-text {
  min-height: 50px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .advantages-text {
    height: 75px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-text.text-hight {
    height: 75px;
  }
}

.illustrations-section {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .illustrations-section {
    display: none;
  }
}

.illustrations-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.illustrations-list {
  display: flex;
}

.illustrations-item + .illustrations-item {
  margin-left: 30px;
}

.illustrations-item {
  position: relative;
}

.illustrations-text {
  position: absolute;
  bottom: 0;
  padding: 27px 0px;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-item {
  margin: 15px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 120px) / 4);
  }
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .team-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.79;
  }
}

.teammate {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.teammate-profession {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .social-list {
    padding-bottom: 30px;
  }
}

.social-item {
  justify-content: center;
  align-items: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
}

.social-link:hover, .social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

.clients-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  margin: -15px;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    flex-wrap: wrap;
  }
}

.clients-item {
  width: calc((100% - 60px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
}

.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.logo-link:hover, .logo-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.logo-svg {
  fill: currentColor;
}

.projects-section {
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 1px solid #ececec;
}

@media screen and (min-width: 1200px) {
  .projects-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.sorter-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
  .sorter-list {
    margin-top: -15px;
    margin-right: -8px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .sorter-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .sorter-list {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.sorter-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .sorter-item {
    margin-top: 15px;
  }
}

.sorter-button {
  padding: 6px 22px;
  color: #212121;
  background-color: #f5f4fa;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  border-radius: 4px;
}

.sorter-button:hover, .sorter-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.projects-item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .projects-item {
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects-item {
    width: calc((100% - 90px) / 3);
  }
}

.projects-item:hover, .projects-item:focus-within {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.projects-link:hover .hidden-text,
.projects-link:focus .hidden-text {
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-text {
  opacity: 0;
  position: absolute;
  padding: 77px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hidden-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .hidden-text {
    padding: 63px 24px;
  }
}

.projects-content {
  padding: 20px 16px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .footer-section {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .flex-div {
    display: flex;
    flex-wrap: wrap;
    padding-left: 76px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .flex-div {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-div {
    width: 232px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo span {
  color: #ffffff;
  font-weight: 400;
}

@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 60px;
  }
}

.street-location {
  height: 21px;
  margin-bottom: 8px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-contacts > .item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-contact {
  display: block;
  height: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Second footer div */
@media screen and (max-width: 767px) {
  .footer-socials {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer-socials {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-left: 70px;
  }
}

.join {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-list.lower {
  padding-bottom: 0px;
}

.social-link.lower {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link:hover, .social-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

/* Footer form */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

.subscribe-caption {
  display: inline-flex;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .enter-mail {
    display: flex;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  padding: 15px 0 15px 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-input::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-input:hover, .footer-input:focus-within {
  border-color: #ffffff;
}

.footer-input:focus-within::placeholder {
  color: #ffffff;
}

.footer-input:not(:placeholder-shown):valid {
  border-color: green;
}

.footer-input:not(:placeholder-shown):invalid {
  border-color: red;
}

.subscribe-button.hero-button {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;
}

@media screen and (max-width: 1199px) {
  .subscribe-button.hero-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-button.hero-button {
    margin-left: 12px;
  }
}

.subscribe-button:hover > .send-icon,
.subscribe-button:focus-within > .send-icon, .subscribe-button:hover,
.subscribe-text:hover > .send-icon,
.subscribe-text:focus-within > .send-icon,
.subscribe-text:hover {
  fill: #ffffff;
  color: #ffffff;
}

.send-icon {
  fill: #ffffff;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}
/*# sourceMappingURL=main.css.map */