.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $secondary-bg-color;
  color: #ffffff;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.flex-div {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 76px;
    padding-right: 89px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-div {
  @media screen and (min-width: 768px) {
    width: 232px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo span {
  color: #ffffff;
  font-weight: 400;
}

.footer-address {
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.street-location {
  height: 21px;
  margin-bottom: 8px;
  font-family: $font-family-1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.footer-contacts > .item {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.footer-contact {
  display: block;
  height: 21px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $footer-contacts-color;
}

/* Second footer div */
.footer-socials {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.join {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-list.lower {
  padding-bottom: 0px;
}

.social-link.lower {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link {
  &:hover,
  &:focus {
    fill: #ffffff;
    background-color: $accent-color;
  }
}
/* Footer form */

.footer-form {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }
}

.subscribe-caption {
  display: inline-flex;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.enter-mail {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  padding: 15px 0 15px 16px;
  color: $primary-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $secondary-bg-color;
  cursor: pointer;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.footer-input {
  &::placeholder {
    font-family: $font-family-1;
    font-style: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
  }
}

.footer-input {
  &:hover,
  &:focus-within {
    border-color: $primary-bg-color;
  }
}

.footer-input {
  &:focus-within::placeholder {
    color: $primary-bg-color;
  }
}

.footer-input {
  &:not(:placeholder-shown):valid {
    border-color: green;
  }
}

.footer-input {
  &:not(:placeholder-shown):invalid {
    border-color: red;
  }
}

.subscribe-button.hero-button {
  max-width: 100%;
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 28px;

  @media screen and (max-width: 1199px) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.subscribe-button,
.subscribe-text {
  &:hover > .send-icon,
  &:focus-within > .send-icon,
  &:hover {
    fill: #ffffff;
    color: #ffffff;
  }
}

.send-icon {
  fill: $primary-bg-color;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}
