.header-section {
  position: relative;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-section .container {
    width: 100%;
  }

}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 99;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.logo {
  color: #2196f3;
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
nav .logo span {
  color: #000000;
  font-weight: 400;
}

.menu-button {
  display: inline-flex;
  border: none;
  background-color: transparent;
  z-index: 99;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button {
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.menu-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    transform: translateY(-100%);
    transition: transform 250ms linear, opacity 250ms linear;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: $primary-bg-color;

    &.is-open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: initial;
    }

  }
  
}

.nav-list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.nav-list > .item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav-link {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.143;
  }
}

.nav-link,
.nav-contact {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-link {
  position: relative;
}

.nav-link.current {
  pointer-events: none;
  color: $accent-color;
}

.nav-contacts {
  display: inline-block;
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and(min-width:768px) {
    margin-left: 84px;
  }

  @media screen and(min-width:1200px) {
    display: flex;
    margin-left: 305px;
  }
}


.nav-contacts > .item {
  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.nav-contact {
  display: flex;
  color: $primary-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.143;
  }
}

.nav-svg {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}

  .modal-item {
    display: flex;
    flex-direction: row;
  }
  
@media screen and (min-width: 768px) {
  .modal-item {
    display: none;
  }
}
@media screen and (max-width: 767px){
    .nav-svg {
    display: none;
    } 
  }