.header-section {
  position: relative;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-section .container {
    width: 100%;
    
  }

}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  padding-top: 16px;
  padding-bottom: 16px;
  z-index: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.logo {
  color: #2196f3;
  font-family: $logo-font-family;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
nav .logo span {
  color: #000000;
  font-weight: 400;
}

.adress {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
}

.menu-button {
  position: fixed;
  right: 0;
  top: 0;
  display: inline-flex;
  border: none;
  background-color: transparent;
  z-index: 99;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .nav-logo {
  // visibility: hidden;
  // opacity: 0;
  // display: none;
  text-decoration: underline;
}

.menu-button {
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.menu-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

  }
 

  @media screen and (max-width: 767px) {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    z-index: 50;
    transform: translateX(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: $primary-bg-color;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    &.is-open {
      transform: translateY(0);
      opacity: 1;
      pointer-events: initial;
      
    }

  }
  
}

.nav-list {
  @media screen and (min-width: 768px) {
    display: flex;
    
  }
}


.nav-list > .item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav-link {
  display: inline-block;
 // padding-top: 8px;
 // padding-bottom: 8px;
  color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  // font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.143;
  }
}

.nav-link,
.nav-contact {
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-link {
  position: relative;
}

.nav-link.current {
  pointer-events: none;
  color: $accent-color;
}
.current {
  position: relative;
  
}
@media screen and (min-width: 1200px) {
.current::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0px;
  display: block;
  border-radius: 2px;
  background-color: currentColor;
  }
}

.nav-contacts {
  @media screen and (max-width: 767px) {
   display: flex;
  flex-direction: column-reverse;
  }

  @media screen and(min-width:768px) {
    margin-left: 84px;
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and(min-width:1200px) {
    display: flex;
    flex-direction: row;
    margin-left: 305px;
  }
}


.tell-modal {
  @media screen and(min-width:768px) {
    margin-bottom: 10px;
    }
}


.nav-contacts > .item {
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
     // margin-bottom: 32px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.nav-contact {
  display: flex;
  color: $primary-text-color;
  font-style: normal;
  font-weight: 500;
   font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
     font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.02em;
    font-size: 18px;
  }
}

  
  
  .tell-modal {
    @media screen and (max-width: 767px) {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      letter-spacing: 0.02em;
      color: #2196F3;
  }
  
  @media screen and (min-width: 768px) {
    .mail-modal{
    font-size: 12px;
  }
}

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.143;
  }
}

.nav-svg {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}

  .modal-item {
    display: flex;
    flex-direction: row;
  }

  .modal-item li{
    @media screen and (max-width: 767px){
      &:not(:last-child){
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
      }
    }
  }
  
  .modal-item li{
    @media screen and (max-width: 767px){
      &:not(:first-child){
        padding-left: 10px;
      }
    }
  }
@media screen and (min-width: 768px) {
  .modal-item {
    display: none;
  }
}
@media screen and (max-width: 767px){
    .nav-svg {
    display: none;
    } 
  }
  .modal-item {
    @media screen and (max-width: 767px){
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}
.modal-link{
  cursor: pointer;
  color: #2196F3;
}