.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow-y: scroll;
  opacity: 1;
  transition: opacity 400ms ease;

  @media screen and (max-width: 480px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 500ms ease-in;
  max-width: 450px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }
}

@media screen and (min-height: 320px) and (max-height: 650px) {
  .modal {
    margin-top: 164px;
    @media screen and (min-height: 420px) {
      margin-top: 114px;
    }
    @media screen and (min-height: 520px) {
      margin-top: 64px;
    }
  }
}

.backdrop.is-hidden .modal {
  transform: scale(0.7) translate(-70%, -70%);
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button {
  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}

.service-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.form-сaption {
  margin-bottom: 12px;
  color: $title-text-color;
  font-style: normal;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.service-label {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.service-label {
  display: flex;
  flex-direction: column;
}

.label-text {
  margin-bottom: 4px;
  font-style: normal;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
}

.service-input,
.service-textarea {
  &:hover,
  &:focus-within {
    border-color: $accent-color;
  }
}

.service-input {
  &:focus-within + .service-icons {
    fill: $accent-color;
  }
}

.service-input {
  &:not(:placeholder-shown):valid {
    border-color: green;
  }
}

.service-input {
  &:not(:placeholder-shown):invalid {
    border-color: red;
  }
}

.service-input {
  height: 40px;
  width: 100%;
  padding-left: 42px;
  font-size: 16px;
  color: $primary-text-color;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.input-div {
  position: relative;
}

.service-icons {
  position: absolute;
  left: 14px;
  bottom: 50%;
  transform: translateY(50%);
  color: $title-text-color;
}

.service-textarea {
  padding: 12px 16px;
  margin-bottom: 10px;
  max-height: 120px;
  color: $primary-text-color;
  font-size: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.service-textarea {
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-family: $font-family-1;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
  }
}

.service-textarea {
  &:hover::placeholder,
  &:focus-within::placeholder {
    font-size: 14px;
    line-height: 1.143;
  }
}

.agree-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-input {
  &:checked + .checkbox-span {
    background-image: url(../images/check.svg);
    background-color: $accent-color;
    background-size: contain;
    background-origin: border-box;
    border-color: $accent-color;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.3);
  }
}

.checkbox-span {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid $title-text-color;
  cursor: pointer;
}

.agree-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.1667;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.715;
  }
}

.agreement-link {
  position: relative;
}

.agreement-text {
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-bottom: 0.01px solid;
  }
}

.hero-button.service-button {
  width: 200px;
  align-self: center;
}

.hero-button.service-button {
  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #188ce8;
  }
}
