body {
  font-family: $font-family-1;
  background-color: $primary-bg-color;
  color: $primary-text-color;
}

body.modal-open {
  overflow: hidden;
}

h2,
h3 {
  color: $title-text-color;
  font-style: normal;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
textarea {
  outline: transparent;
}

:hover,
:focus,
:focus-within {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
