// СOLORS
$secondary-bg-color: #2f303a;
$primary-bg-color: #ffffff;
$tertiary-bg-color: #f5f4fa;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$border-color: #ececec;
$svg-color: #afb1b8;

//FONTS
$font-family-1: "Roboto", sans-serif;
$logo-font-family: "Raleway";
